//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//@import 'pages/home';

body {
	background-color:#f2f2f2;
}

body, label, .checkbox label {
	font-weight: 300;
}

.page-header h1 a{
	color:red;
	text-decoration:none;
	font-family:ubuntu;
}
